.git
.github
.venv
.jupyter
tests
eval
Data
*.ipynb
**/__pycache__
**/*.pyc
**/quotes.jsonl.bak
app/quotes.db
app/quote_index.faiss
app/.streamlit/secrets.toml
bullet_extract*.yaml
resume_extract*.yaml
